https://bushidoboy.com, https://bushidoboy.xyz {
    root /var/www/public
    cache {
        default_max_age 15m
    }
    git {
        repo     https://github.com/donniebishop/website.git
        branch   master
        path     /var/www/website
        interval 1800
        then     hugo --destination=/var/www/public
        # Set HUGO_ENV=production in service file ^
    }
    gzip
    minify {
        disable html json
    }
    tls {
       # Cloudflare credentials need to be set as an env variables
       # Best to do it via the systemd service file for caddy
       dns cloudflare
    }
}
