https://bushidoboy.com, https://bushidoboy.xyz {
    root /var/www/public
    #hugo /var/www/website
    gzip
    git {
        repo     https://github.com/donniebishop/website.git
        path     /var/www/website
        interval 1800
        then     hugo --destination=/var/www/public
    }
    minify {
        disable html json
    }
    tls {
       # DO_AUTH_TOKEN needs to be set as an env variable
       # Best to do it via the systemd service file for caddy
       dns digitalocean
    }
}
