<div class="h-100 w-100 z-1 fixed bg-black-80 white-90 hidden dn-l" id="menu-off-canvas">
  <div class="pa4 fr f5 dn-l" id="open-menu">
    <a href="javascript:void(0)" class="white-90 fas fa-times no-underline open-sans" onClick="toggleNav()"></a>
  </div>
  {{ if .Site.Menus.main }}
    <ul class="pl2 pt5 mr3">
      <li class="list f4 fw4 pa2 open-sans-small-caps">
        <a class="hover-white no-underline white-90 open-sans-small-caps" href="{{ .Site.BaseURL }}">
          Home
        </a>
      </li>
      {{ range .Site.Menus.main }}
      <li class="list f4 fw4 pa2 open-sans-small-caps">
        <a class="hover-white no-underline white-90 open-sans-small-caps" href="{{ .URL }}" title="{{ .Name }} page">
          {{ .Name }}
        </a>
      </li>
      {{ end }}
    </ul>
  {{ end }}
</div>
<script>
function toggleNav() {
    var classes = document.getElementById('menu-off-canvas').classList;
    if (classes.contains("hidden")) {
      classes.remove("hidden")
      classes.add("visible")
    } else if (classes.contains("visible")) {
      classes.remove("visible")
      classes.add("hidden")
    }
}
</script>
