<div class="h-100 w-100 z-1 fixed bg-black-80 white-90 hidden-init dn-l" id="menu-off-canvas">
  <div class="absolute right-2 top-2 f5 dn-l" id="open-menu">
    <a href="javascript:void(0)" class="white-90 fas fa-times no-underline open-sans" onClick="toggleNav()"></a>
  </div>
  {{ if .Site.Menus.main }}
    <ul class="flex flex-column center pl1 pv5 mr3">
      <li class="list f4 fw4 ph3 pv4 center open-sans-small-caps">
        <a class="hover-white no-underline white-90" href="{{ .Site.BaseURL }}">
          Home
        </a>
      </li>
      {{ range .Site.Menus.main }}
      <li class="list f4 fw4 ph3 pv4 center open-sans-small-caps">
        <a class="hover-white no-underline white-90" href="{{ .URL }}" title="{{ .Name }} page">
          {{ .Name }}
        </a>
      </li>
      {{ end }}
    </ul>
  {{ end }}
</div>
<script>
function toggleNav() {
    var c = document.getElementById('menu-off-canvas').classList;
    if (c.contains("hidden-init")) {
      c.remove("hidden-init")
      c.add("visible")
    }
    if (c.contains("hidden")) {
      c.remove("hidden")
      c.add("visible")
    } else if (c.contains("visible")) {
      c.remove("visible")
      c.add("hidden")
    }
}
</script>
