<nav class="pv3 ph3 ph4-ns dn db-l" role="navigation" id="navbar">
  <div class="flex-l justify-between items-center center">
    <a href="{{ .Site.BaseURL }}" class="f3 fw2 hover-white no-underline white-90 dib">
      {{ .Site.Title }}
    </a>
    <div class="flex-r items-center">
      {{ if .Site.Menus.main }}
        <ul class="pl0 mr3">
          {{ range .Site.Menus.main }}
          <li class="list f5 f4-ns fw4 dib pr3">
            <a class="hover-white no-underline white-90 open-sans-small-caps" href="{{ .URL }}" title="{{ .Name }} page">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
      {{/* {{ partial "social-follow.html" . }} */}}
    </div>
  </div>
</nav>
<div class="pa4 fr f5 dn-l" id="burger-menu">
  <a href="#" class="white-90 fas fa-bars fa-lg no-underline"></a>
</div>
<div class="h-100 w-40 fixed bg-black-80 white-90 dn-l open-sans-small-caps" id="menu-off-canvas">
{{ if .Site.Menus.main }}
  <ul class="pl2 mr3">
    {{ range .Site.Menus.main }}
    <li class="list f5 f4-ns fw4 pa2">
      <a class="hover-white no-underline white-90 open-sans-small-caps" href="{{ .URL }}" title="{{ .Name }} page">
        {{ .Name }}
      </a>
    </li>
    {{ end }}
  </ul>
{{ end }}
</div>